.bookcard{
    background-color: #212529;
    height: auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 15px;
    flex-direction: column;
    
   
}

.bottomrow{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    flex-direction: row;
    border-radius: 0px 0px 15px 15px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;


  
 
}

.midsectionleft{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

    
 
    
}

.welcome{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-size: 25px;
    text-align: center;


}

.coverimage{
    display: flex;
    width: 150px;
    border-radius: 15px;
}

.description{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    font-size: 15px;
    word-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    width: auto;
    height: auto;

    padding: 20px;
    flex-wrap: wrap;
}

.bookcolumn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    
}


.header{
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #C61327;
    color: #1F1F1F;
    margin-bottom: 50px;
    font-size: 2vh;
    font-family: 'ExquisiteCorpse'

}

.headerright{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #C61327;
    margin-bottom: 50px;
    top: 10px;
    left: 1200px;

}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logo{
    width: 200px;
    height: 100px;
    object-fit: contain;

    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}


.logorow{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 30px 30px 30px 30px; 
    justify-content: center;
    align-items: center;
    background-color: #212529;
    width: auto;
    border-radius: 15px;
    margin-bottom: 50px;
}

.buttongroup{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 50px;

}

/*sticky button*/
#sticky-button {
    position: fixed;
    right: 0px !important;
    bottom: 40px;
    width: 200px !important;
    height: 25px !important;
    z-index: 99999;
  }
  #sticky-button a {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8pxpx;
    color: #fff;
    font-size: 16px;
    background: #C61327;
    padding: 15px 30px;
    text-decoration: none;
    cursor: pointer;
  }
  #sticky-button a:hover {
    background: #960e1e;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }


@media (max-width: 768px) {
    .bookcard {
        flex-direction: column;
        align-items: center;
    }

    .logorow {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .midsectionleft {
        width: 100%;
        align-items: center;
        flex-direction: row;

    }

    .coverimage {
        width: 100px;
        height: auto;
    }

    .description {
        width: 100%;
        height: auto;
        font-size: 20px;
    }

    .row {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap-reverse;
    }

    .bookcolumn {
        gap: 20px;
        width: 100%;
    }

    .bottomrow {
        flex-direction: column;
        align-items: center;
        justify-content: center;       
    }

    .header {
        flex-direction: column;
        align-items: center;
        font-size: 1.5vh;

    }

    :root{
        width: 100%;
    }
}

.logo:hover{
    transform: scale(1.1);
    
}

.logo::after{
    transform: scale(1.0);
    
}